<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Admin ID</th>
        <th scope="col">Admin Name</th>
        <th scope="col">Admin Age</th>
        <th scope="col">Admin Email</th>
        <th scope="col">Admin password</th>
        <th scope="col">Admin Phoneno</th>
        <th scope="col">Admin Image</th>
        <th scope="col">Admin RoleID</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of admin">
        <th scope="row">1</th>
        <td>{{i.admin_id}}</td>
        <td>{{i.admin_name}}</td>
        <td>{{i.admin_age}}</td>
        <td>{{i.admin_email}}</td>

      </tr>
      
      
    </tbody>
  </table>
  <p>
    admin_id	integer($int32)
    admin_name	string
    nullable: true
    admin_age	integer($int32)
    admin_email	string
    nullable: true
    admin_password	string
    nullable: true
    admin_phoneno	string
    nullable: true
    admin_image	string
    nullable: true
    role_id	integer($int32)
    
  </p> -->
